<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eskisehir.letsgo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.eskisehir.letsgo.Login.AskiyaAlindiActivity"/>
        <activity android:name="com.eskisehir.letsgo.Admin.AdminActivity" />
        <activity android:name="com.eskisehir.letsgo.Add.IlanDuzenleActivity" />
        <activity android:name="com.eskisehir.letsgo.Profil.YolcuPuanlamaActivity" />
        <activity android:name="com.eskisehir.letsgo.Search.SearchResultMapActivity" />
        <activity android:name="com.eskisehir.letsgo.Home.BasvuranlarActivity" />





        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="com.eskisehir.letsgo.Add.LocationActivity" />
        <activity android:name="com.eskisehir.letsgo.Profil.SifreDegistir" />
        <activity android:name="com.eskisehir.letsgo.Profil.AcikProfil" />
        <activity android:name="com.eskisehir.letsgo.Profil.TransferGecmisi" />
        <activity android:name="com.eskisehir.letsgo.Profil.RezervasyonGecmisi" />
        <activity android:name="com.eskisehir.letsgo.Profil.BirikenBakiye" />
        <activity android:name="com.eskisehir.letsgo.Profil.VerilenPuanlar" />
        <activity android:name="com.eskisehir.letsgo.Profil.AddCar" />
        <activity android:name="com.eskisehir.letsgo.Profil.Tercihler" />
        <activity android:name="com.eskisehir.letsgo.Profil.KisiselBilgiler" />
        <activity android:name="com.eskisehir.letsgo.Message.ChatActivity" />
        <activity android:name="com.eskisehir.letsgo.Home.MainActivity" />
        <activity android:name="com.eskisehir.letsgo.Login.LoginActivity" />
        <activity android:name="com.eskisehir.letsgo.Login.RegisterActivity" />
        <activity android:name="com.eskisehir.letsgo.Search.IlanDetayActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.eskisehir.letsgo.Login.FirstActivity"  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>